@keyframes scaleUp {
  from {background-color: $white;}
  to {
    background-color: transparent;
    color: $white;
    padding: 15px 20px;
  }
}


.btn {
  background-color: $white;

  &-scale {
    border: 3px solid $white;
    color: $red;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .3s ease;
    &:hover {
      background-color: transparent;
      transition: all .3s ease;
      color: $white;
      padding: 15px 20px;
    }
  }
}
