.calendar{
  @include card;
  background-color: $white;
  padding: 5px;
  &-bar{
    padding: 20px;
    border-bottom: 1px solid $grey-blue;
  }
  &-title{
    margin: 0;
    color: $grey-blue;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
  }
}