.day:not(:last-child){
  border-bottom: 1px solid $grey-blue;
}
.day{
  margin-top: 20px;

  &-details{
    width: 100%;
    float: left;
    padding-left: 10px;

    .date-details{
      color: #87939E;
    }
    .date-display{
      color: #9BABBA;
      font-size: 14px;
    }
  }
  .lesson:last-child{
    margin-bottom: 15px;
  }
  &-lessons{
    font-size: 14px;
    display: inline-block;
    width: calc(80% - 25px);
  }
}


@media (max-width: $mobile-width){
  .day-lessons{
    width: calc(100% - 20px)
  }
}
